{% extends 'base.html' %} {% block queue %}
<div>
  <h1>Customer Queue</h1>
  <table>
    <thead>
      <tr>
        <th>Name of Customer</th>
        <th>Meter Number</th>
        <th>Amount to buy</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for buyer in buyer %}
      <tr>
        <td>{{ buyer.name }}</td>
        <td>{{ buyer.meter_number }}</td>
        <td>{{ buyer.amount_to_buy }}</td>
        <td>
          <form
            method="post"
            action="{% url 'seller:serve' buyer.id %}"
            style="display: inline"
          >
            {% csrf_token %}
            <button type="submit">Serve</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No customers in the queue.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
</div>
{% endblock %}
